<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="banner-info">
						<h1 class="api-title1"><span class="title-api">Bienvenue chez les</span> <br/> Professionnels des NTIC</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
						<a href="#" class="btn btnapi btnapi-color1">Lire plus</a>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</div>
	<div id="section1" class="section1">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1 class="api-title1">Association des <br/> <span class="title-api">Professionnels des NTIC</span></h1>
					<ul class="list-unstyled">
						<li><img src="assets/img/copy2.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</li>
					</ul>
		 	 		
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<a href="#" class="btn btnapi-color2 btnapi">Nous joindre</a>
	 	 		</div>
	 	 		<div class="col-md-5">
	 	 			<div class="presentation1 text-center">
	 	 				<p>une comunauté des professionnels bien soudée de par le monde</p>
	 	 			</div>
	 	 		</div>
			</div>
		</div>
	</div>
	<div class="ellipse">
		<div class="container">
			<div class="row">
				<img src="assets/img/ellipse.png" alt="">
			</div>
		</div>
	</div>
	<div id="section2" class="section2">
	  <div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="reseaux1 text-center">
								<img src="assets/img/icone-flag.png" alt="">
								<h3> <span class="title-api">CREATIVE</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								.</p>
								<a href="#" class="btn btnapi-color2 btnapi">VOIR PLUS</a>
							</div>
							</div>
							<div class="col-md-6">
							<div class="reseaux2 text-center">
								<img src="assets/img/icone.png" alt="">
								<h3> <span class="title-api">CREATIVE</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								.</p>
								<a href="#" class="btn btnapi-color2 btnapi">VOIR PLUS</a>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
				</div>
				<div class="col-md-6">
					<h1 class="api-title1">Un réseau de plus <br/><span class="title-api">de 300 professionnels</span></h1>
		 	 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<ul class="list-unstyled fa-api">
						<li><i class="fa fa-check circle1"></i></a>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li><i class="fa fa-check circle1"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li><i class="fa fa-check circle1"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li><i class="fa fa-check circle1"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
						<li><i class="fa fa-check circle1"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
					</ul>
	 	 		</div>
			</div>
		</div>
	</div>
	<div id="section3" class="section3">
	  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center api-title1">Devenir membre de <span class="title-api">API-NTIC</span></h1>
		 	 		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<form action="" method="">
						<div class="form-group">
							<div class="col-md-6">
								<label for="nom">Nom</label>
								<input type="text" class="api-form" name="nom" required>
							</div>
							<div class="col-md-6">
								<label for="prenom">Prénom</label>
								<input type="text" class="api-form" name="prenom" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label for="email">E-mail</label>
								<input type="email" class="api-form" name="email" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label for="nom">Pays de résidence</label>
								<select name="" id="" class="api-form" required>
									<option value="Bénin">Choisisez votre pays</option>
									<option value="Bénin">Bénin</option>
									<option value="Bénin">Côte d'ivoire</option>
									<option value="Bénin">Togo</option>
									<option value="Bénin">Mali</option>
									<option value="Bénin">Sénégal</option>
									<option value="Bénin">Burkina Faso</option>
									<option value="Bénin">Guinée Bissao</option>
									<option value="Bénin">Guinée</option>
									<option value="Bénin">Nigéria</option>
									<option value="Bénin">Ghana</option>
									<option value="Bénin">France</option>
									<option value="Bénin">Canada</option>
									<option value="Bénin">Belgique</option>
								</select>
							</div>
							<div class="col-md-6">
								<label for="ville">Ville</label>
								<input type="text" class="api-form" name="ville" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<label for="fonction">Fonction / Métier</label>
								<input type="text" class="api-form" name="fonction" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label for="entreprise">Entreprise</label>
								<input type="text" class="api-form" name="Entreprise" required>
							</div>
							<div class="col-md-6">
								<label for="nom">Expérience</label>
								<select name="" id="" class="api-form" required>
									<option value="Moins d'un an">Moins d'un an</option>
									<option value="1 an">1 an</option>
									<option value="plus de 2 ans">plus de 2 ans</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label for="diplome">Diplôme obtenu</label>
								<input type="text" class="api-form" name="diplome" required>
							</div>
							<div class="col-md-6">
								<label for="certification">Certification</label>
								<input type="text" class="api-form" name="certification" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label for="technologie">Technologie utilisée</label>
								<input type="text" class="api-form" name="technologie" required>
							</div>
							<div class="col-md-6">
								<label for="langues">Langues</label>
								<select name="" id="" class="api-form" required>
									<option value="français">Français</option>
									<option value="anglais">Anglais</option>
									<option value="allemand">Allemand</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label for="motdepasse">Mot de passe</label>
								<input type="password" class="api-form" name="motdepasse" required>
							</div>
							<div class="col-md-6">
								<label for="confirme_motdepasse">Confirmez le mot de passe</label>
								<input type="password" class="api-form" name="confirme_motdepasse" required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3"></div>
							<div class="col-md-3"><br/>
								<input type="submit" class="btn btnapi btnapi-color1" value="Créer un compte">
							</div>
							<div class="col-md-3"><br/>
								<input type="reset" class="btn btnapi btnapi-color2" value="Annuler">
							</div>
							<div class="col-md-3"></div>
						</div>
					</form>
	 	 		</div>
			</div>
		</div>
	</div>
	<div id="section4" class="section4">
	  <div class="container">
			<div class="row">
				<div class="col-md-6 contact_layer">
					<h2 class="api-title1">Nous <br/> <span class="title-api">Contactez ?</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
				<div class="col-md-6">
					<h1 class="api-title1"><img src="assets/img/copy.png" alt="">API-NTIC</h1>
		 	 		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<form action="">
						<div class="form-group">
		                <label for="email" class="col-md-2 control-label">E-mail</label>
		                <div class="col-md-10">
		                  <input type="email" class="form-control" placeholder="nom@domaine.com" required> <br>
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="objet" class="col-md-2 control-label">OBJET</label>
		                <div class="col-md-10">
		                  <input type="text" class="form-control" placeholder="L'objet de votre message" required> <br>
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="message" class="col-md-2 control-label">MESSAGE</label>
		                <div class="col-md-10">
		                 <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Votre message ici" required></textarea>
		                </div>
		              </div>
		              <div class="form-group">
		                <div class="col-md-2"></div>
		                <div class="col-md-10">
		                	<br>
		                	<input type="submit" class="btn btnapi btnapi-color1" value="Envoyer">
		                	<input type="reset" class="btn g btn-annuler btnapi btnapi-color2" value="Annuler">
		                </div>
		              </div>
					</form>
					<!--<div class="contact-social">
							<ul class="list-inline">
			                  <li><a class="social" href="#">
			                  	<i class="fa fa-facebook circle"></i>
								</a></li>
			                  <li><a class="social" href="#">
			                  	 <i class="fa fa-twitter circle"></i>
			                  </a></li>
			                  <li><a class="social" href="#">
			                  	 <i class="fa fa-linkedin circle"></i>
			                  </a></li>
			                  <li><a class="social" href="#">
			                  	 <i class="fa fa-google-plus circle"></i>
			                  </a></li>
			                  <li><a class="social" href="#">
			                  	 <i class="fa fa-instagram circle"></i>
			                  </a></li>
			                   <li><a class="social" href="#">
			                  	 <i class="fa fa-skype circle"></i>
			                  </a></li>
			                   <li><a class="social" href="#">
			                  	 <i class="fa fa-vimeo-square circle"></i>
			                  </a></li>
			                  <li><a class="social" href="#">
			                  	 <i class="fa fa-youtube circle"></i>
			                  </a></li>
			                </ul>
						</div>-->
	 	 		</div>
			</div>
		</div>
	</div>